awscli
ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
ruff
scikit-learn
tqdm
typer
torch
jupyter
pytest
mlflow
boto3<1.43.1
botocore<1.43.1
dvc-s3
dvc
fastapi
uvicorn
scikit-learn
joblib
psycopg2-binary
prometheus-fastapi-instrumentator